* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font);
}

:root {
  --main-text-color: #ffffff;
  --font: "Roboto", sans-serif;
  --bg-color: #121616;
  --alt-color-green: #2af4a2;
  --alt-color-blue: #00c6c2;
  --blue-hover: rgba(0, 198, 194, 0.7);
  --green-hover: rgba(42, 244, 162, 0.7);
  --input-field-bg: rgba(18, 22, 22, 0.3);
  --deselected: rgba(255, 255, 255, 0.1);
  --tile-bg: rgba(255, 255, 255, 0.3);
  --border-radius: 5px;
  --button-padding: 7px 13px 7px 13px;
  --alert: rgba(255, 0, 0, 0.7);
  --box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
}

/* login */

.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  gap: 25px;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 450px;
  border: 2px solid var(--alt-color-blue);
  border-radius: var(--border-radius);
}
.login-logo-cont {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.login-logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.login-signup-tab-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 10%;
}

.tab-style {
  background: none;
  border: none;
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
  color: var(--main-text-color);
  font-family: var(--font);
  cursor: pointer;
}

.right-tab {
  border-bottom: 2px solid var(--deselected);
  border-left: 2px solid var(--deselected);
  border-radius: 0px 0px 0px var(--border-radius);
  background: rgba(255, 255, 255, 0.2);
  color: var(--main-text-color);
}

.left-tab {
  border-bottom: 2px solid var(--deselected);
  border-right: 2px solid var(--deselected);
  border-radius: 0px 0px var(--border-radius) 0px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--main-text-color);
}

.cont-style {
  display: flex;
  width: 100%;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-cont {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 70%;
  gap: 15px;
  font-size: 1rem;
  font-family: var(--font);
  color: var(--main-text-color);
}

.label-cont:last-of-type {
  padding-bottom: 25px;
}

.login-input-style {
  width: auto;
  height: auto;
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  border: 2px solid var(--alt-color-blue);
  background: var(--input-field-bg);
  color: var(--main-text-color);
  font-size: 1rem;
  font-family: var(--font);
}

.login-btn {
  background: var(--input-field-bg);
  border: 2px solid var(--alt-color-blue);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  font-family: var(--font);
  color: var(--main-text-color);
  font-size: 1rem;
  width: auto;
  cursor: pointer;
}

.signup-page-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.login-res-position {
  position: relative;
  bottom: 50px;
}

/* dash */

.dash-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: auto;
  height: 96vh;
  background: var(--bg-color);
  padding: 2vh;
  gap: 10px;
}

.dashnav-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: auto;
}

.dash-top-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 15px;
  padding-bottom: 10px;
  overflow: hidden;
  gap: 10px;
}

.spacing-line {
  height: 1px;
  background-color: var(--main-text-color);
  flex: auto;
}

.dash-content-title {
  font-family: var(--font);
  color: var(--main-text-color);
  text-transform: capitalize;
}

.nav-logo-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  overflow: hidden;
  gap: 15px;
}

.logo-content {
  font-size: 1rem;
  font-family: var(--font);
  color: var(--main-text-color);
}

.dashnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  height: auto;
  width: auto;
}

.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  border: none;
  border-bottom: 1px solid var(--deselected);
  background: none;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  gap: 15px;
}

#mobile-menu-btn {
  position: absolute;
  left: 25px;
  top: 15px;
  display: none;
  color: white;
  font-size: 1.5rem;
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 1;
  top: 70px;
  left: 0;
}

.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

.nav-btn i {
  width: auto;
  height: auto;
  overflow: hidden;
  font-size: 1rem;
  color: var(--alt-color-blue);
}

.nav-title {
  text-transform: capitalize;
  color: var(--main-text-color);
  font-family: var(--font);
}

.nav-logo {
  width: 50px;
}

.dash-content-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: auto;
  height: auto;
}

.dash-content-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  flex: auto;
  padding: 0px 15px 15px 15px;
  border: 1px solid var(--alt-color-blue);
  border-top: none;
  overflow: hidden;
}

.dash-content-wrapper h2 {
  color: var(--main-text-color);
}
.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 25px;
}

.sub-nav-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: auto;
}

.alt-nav-buttons {
  padding: var(--button-padding);
  background: var(--input-field-bg);
  border: none;
  border-bottom: 1px solid var(--deselected);
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--main-text-color);
  cursor: pointer;
}

.alt-nav-buttons:hover {
  background: var(--deselected);
}

/* Home */

.home-top-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: var(--main-text-color);
  padding-bottom: 10px;
}

.home-top-cont span {
  color: var(--alt-color-blue);
}

.summary-cont {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  flex: 1;
  gap: 10px;
}
.summary-cont-upper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.summary-cont-lower {
  display: flex;
  flex-direction: row;
  flex: auto;
  gap: 10px;
}

/* dashboard upper */

.weather-loading {
  position: relative;
  text-align: center;
  top: 45%;
  color: var(--alt-color-blue);
}

.welcome-dashboard {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: auto;
  background-color: var(--deselected);
  border-radius: var(--border-radius);
}

.weather-cont {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  height: auto;
  flex: 0.5;
  overflow: hidden;
}

.date-cont {
  height: auto;
  flex: 0.5;
}

.weather {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.date-text span {
  color: var(--alt-color-blue);
}

.weather-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 5px;
  background-color: var(--deselected);
  overflow: hidden;
}

.weather-top h3 {
  color: var(--main-text-color);
  overflow: hidden;
}

#weather-btn {
  background: none;
  border: none;
  color: var(--alt-color-blue);
  cursor: pointer;
}

#weather-btn i {
  font-size: 1rem;
}

.weather-bottom {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 5px;
  gap: 15px;
  overflow: hidden;
}

#weather-location {
  padding-bottom: 5px;
  color: var(--main-text-color);
  overflow: hidden;
}

.weather-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  padding: 5px;
  overflow: hidden;
}

.location-temp-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  overflow: hidden;
}

#main-icon {
  position: absolute;
  top: -18px;
  right: 30px;
  width: 75px;
  height: 75px;
  background: none;
  /* background-color: goldenrod; */
  overflow: hidden;
}

#weather-temp {
  position: relative;
  width: 45px;
  height: auto;
  overflow: hidden;
}

#weather-summary {
  width: 100%;
  overflow: hidden;
}

.weather-summary-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.degree {
  position: absolute;
  font-size: 0.7rem;
  overflow: hidden;
}

.weather-summary-second {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  height: 100%;
  text-transform: capitalize;
  overflow: hidden;
}

.weather-summary-second h3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
  color: var(--main-text-color);
  overflow: hidden;
}

.weather-summary-second span {
  color: var(--alt-color-blue);
  overflow: hidden;
}

/* dashboard lower */

.dash-tile {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: var(--deselected);
  border-radius: var(--border-radius);
}

.dash-tile-top {
  height: auto;
  padding: 5px;
  background-color: var(--deselected);
  overflow: hidden;
}

.dash-tile h3 {
  text-transform: capitalize;
  color: var(--main-text-color);
}

.dash-tile-bottom {
  position: relative;
  display: grid;
  flex: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  overflow: hidden;
  padding: 15px;
}

.dash-inner-tile {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
}

#dash-appoint-title {
  background-color: var(--alt-color-blue);
  padding: 5px;
  color: var(--bg-color);
}
.dash-inner-tile h4 {
  padding: 5px;
  border-bottom: 1px solid var(--deselected);
  color: var(--alt-color-blue);
}
.dash-inner-tile p {
  flex: auto;
  padding: 5px;
  color: var(--main-text-color);
}

.empty-dash-filler {
  position: absolute;
  align-self: center;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-text-color);
  width: 100%;
}
.empty-dash-filler span {
  color: var(--alt-color-blue);
}

/* Notes */

.notes-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.create-note-cont i {
  font-size: 1.5rem;
  color: var(--alt-color-green);
  overflow: hidden;
}

.notes-bottom-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.note-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 100%;
  overflow: auto;
}

.note-nav-title {
  overflow: hidden;
  text-align: center;
  color: var(--main-text-color);
}

.create-note-cont {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex: auto;
  gap: 50px;
  width: 100%;
  height: 50px;
}

.note-content-cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding: 0px 10px 10px 10px;
}

.create-note {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  background: none;
  border: none;
  border-right: 1px solid var(--deselected);
  cursor: pointer;
}

.create-note-content-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--deselected);
  border-radius: var(--border-radius);
}

.create-note-content {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 90%;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 15px 15px 0 15px;
  gap: 15px;
}

.create-note-content-cont input {
  width: auto;
}

.create-note-content-cont textarea {
  width: auto;
  flex: auto;
}

.create-note-content-cont label:last-of-type {
  flex: 0.95;
}

.create-note-content-cont label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: var(--main-text-color);
  font-size: 1rem;
  gap: 10px;
}

.create-note:hover {
  background-color: var(--deselected);
}

.create-note-content-cont button {
  align-self: flex-end;
  width: 150px;
}

.note-content-cont p,
h2 {
  color: var(--main-text-color);
}

.note-content-cont h3 {
  text-align: left;
  padding-left: 5px;
  color: var(--alt-color-blue);
}

.note-title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  overflow: hidden;
}

.note-title-cont i {
  font-size: 20px;
  color: var(--alert);
  cursor: pointer;
  overflow: hidden;
}
.note-content-cont p {
  flex: auto;
  border-radius: var(--border-radius);
  background: var(--deselected);
  padding: 15px;
}

.note-btn-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  background: none;
  border: none;
  border-right: 1px solid var(--deselected);
  font-size: 10px;
  text-align: left;
  overflow: hidden;
}

.note-preview-cont {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

.note i {
  font-size: 1rem;
  color: var(--alt-color-blue);
  overflow: hidden;
  padding-right: 15px;
}

.note:hover {
  background-color: var(--deselected);
  cursor: pointer;
}

/* Calandar */

.dashcal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: contain;
}

.calandar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Appointments */

.appointment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appointment-top-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.appoint-top-fill {
  text-align: center;
  flex: auto;
  height: auto;
  text-transform: capitalize;
}

.appointment-top-cont button,
i {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.appointment-grid {
  flex: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 225px;
  row-gap: 10px;
  column-gap: 10px;
  width: auto;
  overflow: auto;
  height: auto;
  /* background-color: red; */
}

.appointment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  height: 225px;
  border-radius: var(--border-radius);
  background-color: var(--tile-bg);
  color: var(--main-text-color);

  overflow: hidden;
}

.appointment i {
  color: var(--alert);
  cursor: pointer;
  overflow: hidden;
}

.appointment-title-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
  overflow: hidden;
  background-color: var(--alt-color-blue);
  padding: 10px;
}
.appointment h4 {
  color: var(--bg-color);

  overflow: hidden;
}

#appointment-date-tile {
  padding-left: 5px;
  color: var(--alt-color-blue);
}

.appointment-delete-btn {
  background: none;
  border: none;
  font-size: 1rem;
}

.appointment p {
  flex: auto;
  text-transform: none;
  padding-left: 7px;
  padding-top: 10px;
  border-top: 1px solid var(--deselected);
}

.createAppoint-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: auto;
  background: var(--deselected);
  border-radius: var(--border-radius);
}

.create-appoint {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  height: auto;
  width: 550px;
  gap: 50px;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.appoint-label-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.appointment-label-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  width: 100%;
  font-size: 1rem;
  color: var(--main-text-color);
}

.appointment-label-style input {
  width: 300px;
}

.appointment-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#appointment-date {
  color: var(--main-text-color);
}
/* customers */

.customers {
  display: flex;
  flex-direction: column;
}

.customer-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.search-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-label i {
  color: var(--main-text-color);
}

#add-customer {
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 1rem;
  background: var(--deselected);
  border: 1px solid var(--alt-color-blue);
  border-radius: 5px;
  color: var(--main-text-color);
  cursor: pointer;
}

#customer-searchbar {
  width: 250px;
  height: 100%;
  background-color: var(--deselected);
  border: 1px solid var(--alt-color-blue);
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  color: var(--main-text-color);
}

.customer-content {
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--deselected);
  border-radius: 5px;
  padding: 5px;
}

.new-customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10px;
  height: 425px;
  width: auto;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 15px;
  box-shadow: var(--box-shadow);
}

.new-customer h2 {
  text-transform: capitalize;
  padding-bottom: 15px;
  overflow: hidden;
}

.new-customer-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  align-items: center;
  gap: 25px;
  color: var(--main-text-color);
  font-size: 1rem;
  overflow: hidden;
}

.new-customer-input {
  width: 150px;
  height: 15px;
  padding: 5px;
  background: var(--input-field-bg);
  border: 2px solid var(--alt-color-blue);
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: var(--main-text-color);
  text-align: left;
  overflow: hidden;
  text-align: right;
}

#customer-address-1,
#customer-address-2,
#customer-email,
#customer-phone {
  width: 250px;
}

#state-dropdown {
  width: auto;
  height: 30px;
  text-align: center;
}

#back-customer {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 40px;
  overflow: hidden;
}

.new-customer-btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 500px;
  overflow: hidden;
}

.customer-list-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  padding: 5px;
}

.customer-list {
  width: 100%;
  flex: auto;
  overflow-y: auto;
}

.customer-list-top {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  color: var(--main-text-color);
  gap: 5px;
}

.customer-delete {
  position: absolute;
  right: 0;
  top: 3px;
  color: var(--alert);
  cursor: pointer;
}
#customer-name-title {
  width: 25%;
  padding: 0 0 5px 0;
  border-bottom: 1px solid var(--alt-color-blue);
}

#customer-address-title {
  width: 45%;
  padding: 0 0 5px 0;
  border-bottom: 1px solid var(--alt-color-blue);
}
#customer-contact-title {
  flex: auto;
  padding: 0 0 5px 0;
  border-bottom: 1px solid var(--alt-color-blue);
}

.customer-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: var(--main-text-color);
  gap: 5px;
  padding: 5px 0 0 0;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
}

.customer-row:hover {
  background-color: var(--input-field-bg);
}

.customer-row-name {
  width: 25%;
  border-bottom: 1px solid var(--deselected);
  padding: 0 0 5px 0;
}
.customer-row-address {
  width: 45%;
  border-bottom: 1px solid var(--deselected);
  padding: 0 0 5px 0;
  text-transform: capitalize;
}
.customer-row-contact {
  flex: auto;
  display: flex;
  border-bottom: 1px solid var(--deselected);
  padding: 0 0 5px 0;
}

.row-email {
  flex: auto;
  text-align: right;
}

/* settings */

.settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings h2 {
  overflow: hidden;
  border-bottom: 1px solid var(--deselected);
  padding-bottom: 5px;
}

.settings-style {
  display: flex;
  flex-direction: column;
  background: var(--deselected);
  border-radius: var(--border-radius);
  height: auto;
  gap: 10px;
  overflow: hidden;
  padding: 10px;
}

.logout h2 {
  overflow: hidden;
}

.settings-label-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
  overflow: hidden;
  width: auto;
  height: auto;
  gap: 25px;
}

.settings-label-style textarea {
  height: 60px;
  width: 500px;
  height: 75px;
}

.settings-input-style {
  width: 200px;
  height: 10px;
  padding: 7px 13px 7px 13px;
  border-radius: var(--border-radius);
  border: 2px solid var(--alt-color-blue);
  background: var(--input-field-bg);
  color: var(--main-text-color);
  font-size: 1rem;
  font-family: var(--font);
}

.current-setting-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: auto;
}

.current-setting-wrapper-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 400px;
}

.current-setting-wrapper-bio span {
  color: var(--alt-color-blue);
}

.current-setting-wrapper span {
  color: var(--alt-color-blue);
}

.save {
  margin-top: 5px;
  align-self: flex-end;
}

.inactive {
  opacity: 0.2;
  pointer-events: none;
}

/* profile */

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-card-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 25px;
  width: 400px;
  height: auto;
  background: var(--deselected);
  border-radius: var(--border-radius);
  padding: 10px;
}

.card-personal {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
}

.card-personal h3 {
  color: var(--alt-color-blue);
}

.card-personal p {
  color: var(--main-text-color);
}

.profile-summary-cont {
  width: auto;
  flex: auto;
}

.card-work {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.setting-updated {
  position: absolute;
  right: 50px;
}

.card-work h3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--main-text-color);
}

.card-work span {
  color: var(--alt-color-blue);
  text-transform: capitalize;
}

/* global */

.btn-style {
  width: auto;
  height: auto;
  padding: 7px 10px 7px 10px;
  font-size: 1rem;
  background: var(--bg-color);
  border: 1px solid var(--alt-color-blue);
  border-radius: 5px;
  color: var(--main-text-color);
  cursor: pointer;
}

.hidden {
  display: none;
}

.success {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--alt-color-green);
}
.error {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--alert);
}

.grow {
  animation: grow;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}
.shrink {
  animation: shrink;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

@keyframes grow {
  100% {
    transform: scale(1.003);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.003);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1227px) {
  .landing-wrapper {
    gap: 45px;
  }
  .login-logo-cont {
    width: 75px;
    height: 75px;
  }
  .login-signup-container {
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .nav-btn i {
    display: none;
  }
}

@media (min-width: 851px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 850px) {
  .dash-wrapper {
    height: 97vh;
  }
  .dashnav-cont {
    position: relative;
    flex-direction: column;
    height: auto;
  }

  .dashnav {
    display: none;
  }

  #mobile-menu-btn {
    display: inherit;
  }

  .nav-btn i {
    display: inherit;
  }

  .dash-content-wrapper {
    overflow: auto;
    border: none;
    padding: 0;
  }
  .summary-cont {
    height: 100%;
  }
  .summary-cont-upper {
    flex-direction: column;
    flex: none;
    height: auto;
  }

  .summary-cont-lower {
    flex-direction: column;
  }

  .weather-summary {
    width: 90%;
    height: auto;
  }

  .weather-cont {
    flex: none;
  }

  .weather-bottom {
    padding: 15px 0 15px 0;
  }

  .date-cont {
    height: auto;
    flex: none;
    padding: 10px 5px 10px 5px;
  }

  .date-text {
    font-size: 1rem;
  }

  .welcome-dashboard {
    flex-direction: column;
    height: auto;
  }

  .note-nav {
    width: 200px;
  }

  .create-note-cont {
    width: 100%;
  }

  .create-note h2 {
    font-size: 1rem;
  }

  .appointment-grid {
    grid-template-columns: 1fr;
  }

  .create-note-content {
    width: 85%;
    height: 400px;
  }

  .create-note-content-cont {
    height: 500px;
  }

  .new-customer-label {
    width: 300px;
  }

  .customer-row {
    height: auto;
    border-bottom: 1px solid var(--deselected);
  }

  .customer-row-contact {
    width: 50px;
    flex-wrap: wrap;
    height: 100%;
    border: none;
  }

  #customer-address-title {
    width: 40%;
  }
  .customer-row-address {
    border: none;
    width: 40%;
  }

  .customer-row-name {
    border: none;
  }

  .createAppoint-cont {
    align-items: flex-start;
    padding-top: 15px;
  }

  .create-appoint {
    width: 80%;
  }

  .sub-nav-cont {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .alt-nav-buttons {
    padding: 5px;
  }

  .settings-label-style {
    flex-direction: column;
  }

  .settings-input-style {
    width: 275px;
    text-align: center;
  }

  .current-setting-wrapper-bio {
    width: 300px;
  }

  .settings-label-style textarea {
    width: 300px;
  }

  #create-new-note {
    font-size: 1rem;
  }

  .logout h2 {
    text-align: center;
  }

  .weather-loading {
    height: 150px;
    overflow: hidden;
  }

  .home-top-cont span,
  h1 {
    font-size: 1.5rem;
  }
}
